.button {
  cursor: pointer;

  border-radius: 5px;
  padding: 6px 20px;
  width: 142px;
  height: 32px;

  background: #18c576;

  font-weight: 700;
  font-size: 12px;

  line-height: 20px;
  color: #fefefe;
}
