.middle-cards {
  width: 387px;
  gap: 154px;
}

.middle-cards__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.middle-cards__card {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: 154px;
}

.middle-cards__picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.middle-cards__pic {
  border-radius: 5px;
  display: block;
  margin: 0;
}

.middle-cards__title-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: auto;
}

.middle-cards__title {
}

.middle-cards__like-box {
}

.middle-cards__like {
}

.middle-cards__watch {
}

.middle-cards__wrap-price {
}

.middle-cards__baner {
}

.middle-cards__price {
  margin-right: 8px;
  align-self: center;
}
.middle-cards__buttoon {
}
