.small-card {
}

.small-card__container {
}

.small-card__card {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  width: 184px;
  height: 328px;
  padding: 10px 12px 12px 12px;
  background-color: #ffffff;

  @include mediaTab {
    width: 181px;
  }
  @include mediaMob {
    width: 230px;
    min-height: 410px;
  }
}

.small-card__wrap-banner {
  margin-bottom: 135px;
  display: flex;
  justify-content: space-between;
  min-height: 50px;

  @include mediaMob {
    margin-bottom: 173px;
    min-height: 59px;
  }
}

.small-card__banner-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.small-card__banner {
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  color: #fff;

  @include mediaMob {
    font-size: 15px;
    line-height: 27px;
  }
}

.small-card__like-container {
}

.small-card__like-box {
}

.small-card__like {
}

.small-card__watch {
}

.small-card__picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.small-card__pic {
  display: block;
  margin: 0;
  padding: 0;
}

.small-card__title {
  color: #444444;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  margin-bottom: 27px;

  @include mediaMob {
    font-style: 17px;
    line-height: 21px;
    margin-bottom: 33px;

    min-height: 42px;
  }
}

.small-card__prise {
  font-weight: 700;
  font-size: 20px;

  line-height: 20px;
  text-align: center;
  color: #444;
  margin: 0;
  margin-bottom: 8px;

  @include mediaMob {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.small-cards__buttoon {
  display: block;
  margin: 0 auto;

  @include mediaMob {
    font-size: 15px;
    line-height: 25px;
    padding: 7px 25px;
    width: 200px;
    min-height: 40px;
  }
}
