.swiper {
  max-width: 387px;
  height: 328px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 58%;
  object-fit: cover;
}

.swiper-pagination {
}
