.swiper {
  width: 1000px;
  height: 500px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 58%;
  object-fit: cover;
}
