// .video-box {
// }

// .video-box__prev {
//   display: flex;
//   align-items: center;
// }

// .video-box__button-play {
//   display: block;
//   margin: 0 auto;
//   cursor: pointer;
//   background: transparent;
//   border: none;
// }

.video-box {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
}

// .video-box__container

.video-box__container {
}

// .video-box__prev

.video-box__prev {
}

// .video-box__button-img

.video-box__prev-img {
}

// .video-box__button-pic

.video-box__button-pic {
}

// .video-box__button-play

.video-box__button-play {
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
