.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;

  @media (max-width: $tablet) {
    max-width: 1024px;
  }

  @media (max-width: 430px) {
    padding: 0 10px;
  }

  @media (max-width: $mob) {
    max-width: 360px;
    padding: 0 16px;
  }
  @media (max-width: 320) {
    max-width: 320px;
    padding: 0 5px;
  }
}
